<settings>
  <servers>
    <server>
      <id>ossrh</id>
      <username>[jira-user-name]</username>
      <password>[jira-password]</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>ossrh</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <gpg.executable>gpg</gpg.executable>
        <gpg.passphrase>[private-key-password]</gpg.passphrase>
      </properties>
    </profile>
  </profiles>
</settings>
